.right {
    position: absolute;
    float:left;
    
}

.left {
    position: absolute;
    float:left;
    
}

.center{
    
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}