{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="row justify-content-center">
<form action="{% url 'dashboard:upload'%}" method="POST">
    {% csrf_token %}
    <div class="form-group">
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title"><br>
    <div class="form-group">
    <label for="contents">Contents</label><br>
    <input type="text" id="contents" name="contents"><br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> 
</div>
{% endblock %}