{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<section class="get-in-touch">
    <h1 class="title">Write Something</h1>
    <form class="contact-form row" action="{% url 'dashboard:upload'%}" method="POST">
        {% csrf_token %}
       <div class="form-field col-lg-12">
        <input id="title" class="input-text js-input" type="text" name="title" required>
        <label class="label" for="title">Title</label>
     </div>
       <div class="form-field col-lg-12">
          <input id="contents" class="input-text js-input" name="contents" type="text" required>
          <label class="label" for="contents">Contents</label>
       </div>
       <div class="form-field col-lg-12">
          <input class="submit-btn" type="submit" value="업로드">
       </div>
    </form>
 </section>
 
{% endblock %}